@charset "UTF-8";

/*
		Title: Fruition
		Author: Philip Ainsworth
		Class: Mobile Interfaces and Usability
		Session: 1206
		Week: 1
*/

/* Colors:
	Bright Red: #CC252A
	Medium Red: #A11D21
	Dark Red: #510F10
	Black Red: #320E10
	Pale Green: #E9ECDE
	Light Green: #C7D786
	Green: #849B3B
	Dark Green: #445023
	Orange: #FFB024
	Light Beige: #BF9F78
	Beige: #997F60
	Dark Beige: #736048
*/

@font-face {
	font-family: "Papyrus";
	src: url(Papyrus.ttc);
}

@font-face {
	font-family: "Informal";
	src: url(INFR011N.TTF);
	font-weight: bold;
}

.informal {
	font-family: "Informal";
}

#logo {
	background-color: #E9ECDE;
	background-image: url(../img/fruition.png);
	background-repeat: no-repeat;
	background-position: center 6px;
	height: 160px;
}

h3 {
	-webkit-margin-after: 0em;
}