@charset "UTF-8";

/*
		Title: Fruition
		Author: Philip Ainsworth
		Class: Mobile Interfaces and Usability
		Session: 1206
		Week: 1
*/

/* Colors:
	Bright Red: #CC252A
	Medium Red: #A11D21
	Dark Red: #510F10
	Black Red: #320E10
	Pale Green: #E9ECDE
	Light Green: #C7D786
	Green: #849B3B
	Dark Green: #445023
	Orange: #FFB024
	Light Beige: #BF9F78
	Beige: #997F60
	Dark Beige: #736048
*/

@font-face {
	font-family: "Papyrus";
	src: url(Papyrus.ttc);
}

@font-face {
	font-family: "Informal";
	src: url(INFR011N.TTF);
	font-weight: bold;
}

body {
	background-color:#E9ECDE;
	margin: 0px;
	font-family: "Papyrus";
}

header {
	background-image: linear-gradient(top, #C7D786 0%, #E9ECDE 100%);
	background-image: -o-linear-gradient(top, #C7D786 0%, #E9ECDE 100%);
	background-image: -moz-linear-gradient(top, #C7D786 0%, #E9ECDE 100%);
	background-image: -webkit-linear-gradient(top, #C7D786 0%, #E9ECDE 100%);
	background-image: -ms-linear-gradient(top, #C7D786 0%, #E9ECDE 100%);
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#logo {
	border: 0px solid #999;
}

#featureDiv {	
	height: 160px;
	border-top: 0px solid #999;
}

#searchDiv {
	height: 56px;
	border-top: 1px solid #999;
	background-color: #849B3B;
	background-image: url(../img/search.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#search {
	position: absolute;
	display: inline;
	margin: 11px 0px 0px 20px;
	height: 28px;
	width: 190px;
	border-bottom: 0px solid #999;
	border-radius: 10px;
	background-color: transparent;
}

#searchButton {
	position: relative;
	margin: 11px 0px 11px 212px;
	border-bottom: 0px solid #999;
	border-radius: 0px;
	cursor: pointer;
}

#browseDiv {
	height: 600px;
	border-top: 1px solid #999;
}

#realBig {
	position: absolute;
	margin: -73px 0px 0px 32px;
	color: #A11D21;
	font: 96pt "Informal";
}

#text {
	position: absolute;
	margin: 28px 0px 0px 140px;
	display: inline;
	font: 18pt "Informal";
}

a:link {
	color: #A11D21;
}

a:visited {
	color: #510F10;
}

span {
	color: #A11D21;
	font-style: italic;
}

span#rangeValue {
	text-align: center;
	padding-left: 20px;
}

#nav {
	display: block;
	padding: 8px;
	padding-left: 25px;
	background-image: linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -o-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -moz-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -webkit-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -ms-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
}

fieldset#fullForm {
	border: 3px inset #849B3B;
	background-color:#C7D786;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	color: #320E10;
}

fieldset {
	border-radius: 15px;
}

fieldset legend {
	text-align: center;
	font-family: "Informal";
	font-size: 18px;
}

fieldset fieldset legend {
	text-align: left;
	font-family: "Informal";
	font-size: 14px;
}

fieldset fieldset div {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

fieldset > fieldset {
	border: 1px solid #320E10;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 5px;
}

fieldset#dtStart label {
	line-height: 16px;
}

fieldset#dtDue label {
	line-height: 16px;
}

select {
	background-color: #E9ECDE;
	margin-left: 10px;
}

#grouping > input {
	width: auto;
	/*background-color: #F5C13A;*/
}

#startDate {
	width: 100%;
}

#dueDate {
	width: 100%;
}

#taskName {
	display: inline;
	width: 72%;
}

#notes {
	background-color: #E9ECDE;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#priority {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#errors {
	color: #445023;
	width: 90%;
	border-radius: 50px;
	font-family: "Informal";
	font-style: bold;
	font-size: 16px;
	background-image: linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -o-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -moz-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -webkit-linear-gradient(top, #C7D786 0%, #FFB024 50%, #C7D786 100%);
	background-image: -ms-linear-gradient(top, #C7D786 0%, #445023 35%, #C7D786 90%);
}

.break {
	display: block;
}

h3 {
	text-align: justify;
	color: #510F10;
}

#submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 5px;
	width: 90%;
	border: 1px solid #320E10;
	border-radius: 50px;
	font-family: "Informal";
	font-style: bold;
	font-size: 16px;
	cursor: pointer;
	background-image: linear-gradient(bottom, #C7D786 0%, #E9ECDE 100%);
	background-image: -o-linear-gradient(bottom, #C7D786 0%, #E9ECDE 100%);
	background-image: -moz-linear-gradient(bottom, #C7D786 0%, #E9ECDE 100%);
	background-image: -webkit-linear-gradient(bottom, #445023 0%, #C7D786 100%);
	background-image: -ms-linear-gradient(bottom, #C7D786 0%, #E9ECDE 100%);
}

#newSeed {
	display: block;
	text-align: center;
	padding: 8px;
	background-image: linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -o-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -moz-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -webkit-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
	background-image: -ms-linear-gradient(top, #445023 0%, #C7D786 35%, #445023 90%);
}

#newQuack:hover {
	color: #CC252A;
}

#clear:hover {
	color: #CC252A;
}

#clear {
	text-align: center;
}

#display {
	position: relative;
	left: 90px;
}

#display:hover {
	color: #CC252A;
}

#taskContainer {
	border-top: 2px;
	border-top-style: solid;
	width: 75%;
}

#icon {
	border-top: 2px;
	border-top-style: solid;
	float: right;
	width: 25%;
}

div.home, div.work {
	background: url("../img/iconSprite.png") no-repeat 0 20px;
	padding-top: 20px;
}

div.home {
	background-position: 0px -106px;
	width: 79px;
	height: 82px;
}

div.work {
	width: 79px;
	height: 97px;
}

#dataTag {
	line-height: 10px;
	color: #445023;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 7px;
}

#dataData {
	line-height: 8px;
	color: #849B3B;
	margin-left: 50px;
	margin-bottom: 15px;
	font-style: italic;
}

ul {
	text-align: left;
}