@charset "UTF-8";

/*
		Title: Fruition
		Author: Philip Ainsworth
		Class: Mobile Interfaces and Usability
		Session: 1206
		Week: 1
*/

/* Colors:
	Bright Red: #CC252A
	Medium Red: #A11D21
	Dark Red: #510F10
	Black Red: #320E10
	Pale Green: #E9ECDE
	Light Green: #C7D786
	Green: #849B3B
	Dark Green: #445023
	Orange: #FFB024
	Light Beige: #BF9F78
	Beige: #997F60
	Dark Beige: #736048
*/

@font-face {
	font-family: "Papyrus";
	src: url(Papyrus.ttc);
}

@font-face {
	font-family: "Informal";
	src: url(INFR011N.TTF);
	font-weight: bold;
}

#realBig {
	position: absolute;
	margin: 20px 0px 0px 32px;
	color: #A11D21;
	text-decoration: none;
	font: 96pt "Informal";
}

#text {
	position: absolute;
	margin: 119px 0px 0px 140px;
	color: #510f10;
	font-weight: normal;
	text-shadow: none;
	display: inline;
	font: 18pt "Informal";
}

#subheading {
	position: absolute;
	margin-top: 143px;
	margin-left: 122px;
	color: #510f10;
	font-weight: normal;
	text-shadow: none;
}

.tagline {
	color: #510F10;
	font-size: 10pt;
	text-align: center;
	padding: 5px 5px 5px 0px;
}

.due {
	color: #A11D21;
}

#copyright {
	text-align: center;
}

p.left {
	text-align: left;
}

#logo {
	background-color: #E9ECDE;
	background-image: url(../img/fruition.png);
	background-repeat: no-repeat;
	background-position: center 6px;
	height: 97px;
}

#logo1 {
	border: 0px;
	background-color: #E9ECDE;
	background-image: url(../img/fruition.png);
	background-repeat: no-repeat;
	background-position: center 6px;
	height: 160px;
}